<!DOCTYPE html>
<html lang="en">
<head>
  <title>SnehaGlobalProducts</title>
  	<link rel="icon" href="https://s3.ap-south-1.amazonaws.com/www.cimg.in/images/2016/03/01/28/138405849_14568262831_large.jpg" type="image/gif" sizes="16x16">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="template.css">
  <style type="text/css">
    .box{
      
    background-color: lightgrey;
    width: 400px;
    border: 25px solid black;
    padding: 25px;

    margin-top: 90px;
    margin-left: 350px;
}
.mark{
  font-size: 40px;
  background-color: lightblue;
  color: tomato;
  font-style: italic;
}
    
  </style>
 
</head>
<body>
	
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="home.html">HOME</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="about.html">ABOUT</a></li>
      <li><a href="contact.html">CONTACT</a></li>
      <li><a href="product.html">PRODUCTS</a></li>
   </ul>
   <ul class="nav navbar-nav navbar-right">
      <li><a href="signup.html"><span class="glyphicon glyphicon-user"></span> SIGNUP</a></li>

      <li><a href="signin.html"><span class="glyphicon glyphicon-log-in"></span>  SIGNIN</a></li>
    </ul>
  </div>
</nav>


<div class="box">
  <h3>contact details::</h3>
 <h3>email:sneharam@gmail.com</h3>
  <h3>ph no:040-965124</h3>
  <h3>Address:
    <ul>
      <li>madhapur</li>
      <li>hyderabad</li>
    </ul>
  </h3>
</div>
<br><br>
<div>
<marquee class="mark">snehaGlobalproducts</marquee></div>
</body>
</html>