<!DOCTYPE html>
<html lang="en">
<head>
  <title>SnehaGlobalProducts</title>
  	<link rel="icon" href="https://s3.ap-south-1.amazonaws.com/www.cimg.in/images/2016/03/01/28/138405849_14568262831_large.jpg" type="image/gif" sizes="16x16">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="template.css">
  <style type="text/css">
   .elements li{
    color: green;
    margin-top: 10px;
   }
   .elements ul{
    color: red;
    background-color: lightblue;
   }
   
  </style>
</head>
<body>
	
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="home.html">HOME</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="about.html">ABOUT</a></li>
      <li><a href="contact.html">CONTACT</a></li>
      <li><a href="product.html">PRODUCTS</a></li>
   </ul>
   <ul class="nav navbar-nav navbar-right">
      <li><a href="signup.html"><span class="glyphicon glyphicon-user"></span> SIGNUP</a></li>

      <li><a href="signin.html"><span class="glyphicon glyphicon-log-in"></span>  SIGNIN</a></li>
    </ul>
  </div>
</nav>

<div><h2><span style="background-color: tomato;color: blue;">welcome to sneha global products</span></h2></div>
<br><br>
<div class="elements">
<div class="row">
    <div class="col-md-3">
      <ul>CLOTHES
          <li>traditional</li>
          <li>westren</li>
          <li>mens wear</li>
          <li>kids wear</li>
          <li>sarees</li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>MOBILES
          <li>samsung</li>
          <li>honor</li>
          <li>iphones</li>
          <li>jio phones</li>
          <li>google phones</li>
           </ul>
        
    </div>
    <div class="col-md-3">
     
        <ul>JEWLLERY
          <li>gold</li>
          <li>silver</li>
          <li>1 gram gold</li>
          <li>metal</li>
          <li>platinum</li>
        </ul>
    </div> 
      <div class="col-md-3">
   
        <ul>ELECTRONICS
          <li>tvs</li>
          <li>kitchen accesories</li>
          <li>chargers</li>
          <li>bulbs</li>
          <li>fridges</li>
        </ul>
    </div> 
</div>
</div>
<br><br><br>
<center>
<div>
  <p>if you want to purchase any product. please click to <a href="signup.html">signup</a></p><p>
    if you have already have account of company .please sigin <a href="signin.html">signin</a></p>
  </p>
</div>
</center>

</body>
</html>