<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
    <link rel="icon" href="https://s3.ap-south-1.amazonaws.com/www.cimg.in/images/2016/03/01/28/138405849_14568262831_large.jpg" type="image/gif" sizes="16x16">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
    .jumbotron {
      background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3ko-drW5RonKPWqIZ6RD-FWt29ymrCmq4dJZF_FeDODY26CImhA") no-repeat center center;
      background-size: cover;
      padding-top: 20%;
      padding-bottom: 20%;
    }
    h2{
      color: red;
    }
    h2 span{
      background-color: white;
      color: red;
    }



  </style>

</head>
<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="home.html">HOME</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="about.html">ABOUT</a></li>
      <li><a href="contact.html">CONTACT</a></li>
      <li><a href="product.html">PRODUCTS</a></li>
   </ul>
   <ul class="nav navbar-nav navbar-right">
      <li><a href="signup.html"><span class="glyphicon glyphicon-user"></span> SIGNUP</a></li>

      <li><a href="signin.html"><span class="glyphicon glyphicon-log-in"></span>  SIGNIN</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <h2>thanks for visiting. but these details are availble for who are signup in sneha global products if we want to sign up <span ><a href="signup.html">click here</a></span></h2>
  </div>
     
</div>

</body>
</html>
