
h1,h2 {
    color: blue;
    
    background-color: lightgrey;
    border: 2px solid red;
    margin: 2px;
    padding: 2px;
    text-decoration:underline;
    text-transform:capitalize;
} 


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:tomato;
       border: 2px solid green;

}



li a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;